WinStoreApp/bin
WinStoreApp/obj
WinPhoneApp/bin
WinPhoneApp/obj
AndroidApp/bin
AndroidApp/obj
iosApp/bin
iosApp/obj
PCLProject/bin
PCLProject/obj
.DS_Store
ServiceBus/src/ServiceBusRelayHost/bin
ServiceBus/src/ServiceBusRelayHost/obj
ServiceBus/src/ServiceBusRelayHost.Demo.Screen/bin
ServiceBus/src/ServiceBusRelayHost.Demo.Screen/obj
ServiceBus/src/ServiceBusRelayHost.Tests/bin
ServiceBus/src/ServiceBusRelayHost.Tests/obj