WinStoreApp/bin
WinStoreApp/obj
WinPhoneApp/bin
WinPhoneApp/obj
AndroidApp/bin
AndroidApp/obj
iosApp/bin
iosApp/obj
PCLProject/bin
PCLProject/obj
.DS_Store
ServiceBusRelayHost/src/ServiceBusRelayHost/bin
ServiceBusRelayHost/src/ServiceBusRelayHost/obj
ServiceBusRelayHost/src/ServiceBusRelayHost.Demo.Screen/bin
ServiceBusRelayHost/src/ServiceBusRelayHost.Demo.Screen/obj
ServiceBusRelayHost/src/ServiceBusRelayHost.Tests/bin
ServiceBusRelayHost/src/ServiceBusRelayHost.Tests/obj